template/
*/__pycache__/
*.pyc
.env
*.log
ai-service/
.DS_Store
venv/
yolov8n.pt
*.pt
*.pth
*.pkl
*.json
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
